services:
  app:
    build:
      context: .
      args:
        VERSION: ${VERSION}
        PSM_REFRESH_RATE_SECONDS: ${PSM_REFRESH_RATE_SECONDS}
        PSM_AUTO_CONFIGURE: ${PSM_AUTO_CONFIGURE}
        PSM_PHP_DEBUG: ${PSM_PHP_DEBUG}
        MYSQL_HOST: ${MYSQL_HOST}
        MYSQL_USER: ${MYSQL_USER}
        MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        MYSQL_DATABASE: ${MYSQL_DATABASE}
        MYSQL_DATABASE_PREFIX: ${MYSQL_DATABASE_PREFIX}
        PHP_TIME_ZONE: ${PHP_TIME_ZONE}
    ports:
      - "58085:80"
    env_file:
      - .env
    links:
      - mysql
    restart: always

  mysql:
    image: yobasystems/alpine-mariadb
    env_file:
      - .env
    restart: always

  proxy:
    image: caddy:2.9.1-alpine
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./web:/web
    ports:
      - '50005:80'
